@use "@/scss/variables" as v;
@use "@/scss/mixins" as mx;
@use "@/scss/placeholders";

.hero {
  position: relative;
  @include mx.row-cr-cr(0);
  min-width: 320px;
  max-width: 1600px;
  width: 100%;
  height: 100vh;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
  }
}

.caseHero {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 100px 10px 40px 10px;
  @include mx.mq("md") {
    padding: 140px 10px 40px 10px;
  }
}
.caseTitle {
  @include mx.column-fs-cr(10px);
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  height: auto;
  h1 {
    @extend %hero-h1;
    font-size: 32px;
  }
  h2 {
    @extend %hero-h2;
    font-size: 22px;
    width: 100%;
    height: auto;
  }
  @include mx.mq("md") {
    gap: 20px;
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 28px;
    }
  }
  @include mx.mq("lg") {
    h1 {
      font-size: 44px;
    }
    h2 {
      font-size: 32px;
    }
  }
}

.caseText {
  @include mx.column-fs-cr(10px);
  max-width: 840px;
  padding: 0 10px;
}
.heroArticle {
  @include mx.column-fs-fs(4px);
  h4 {
    @extend %hero-h4;
    font-size: 18px;
    width: 100%;
    height: auto;
  }
  p {
    @extend %hero-p;
    font-size: 14px;
    width: 100%;
    height: auto;
  }
  @include mx.mq("md") {
    h4 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
  }
  @include mx.mq("lg") {
    h4 {
      font-size: 22px;
    }
    p {
      font-size: 18px;
    }
  }
}
