@use "@/scss/variables" as v;
@use "@/scss/mixins" as mx;
@use "@/scss/placeholders";

.result {
  top: 0;
  left: 0;
  position: absolute;
  @include mx.row-cr-cr(0);
  width: 100%;
  height: 100vh;
  padding: 0 10px;
  h2 {
    @extend %card-h3;
    font-size: 44px;
    text-align: center;
    color: v.$brend;
    @include mx.mq("md") {
      font-size: 56px;
    }
  }
}
