@use "@/scss/variables" as v;
@use "@/scss/mixins" as mx;
@use "@/scss/placeholders";

.wrapCard {
  position: relative;
  @include mx.bg-box(0);
  height: auto;
  padding: 20px 0;
  @include mx.mq("md") {
    padding: 40px;
  }
  // margin-top: 160px;
}

.docCardRight {
  @include mx.card(10px, column);
  min-width: 300px;
  max-width: 420px;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  margin: 0 10px;
  padding: 10px 10px 28px 10px;

  @include mx.mq("md") {
    min-width: 420px;
    max-width: 540px;
    // margin: 0 20px;

    padding: 20px 20px 40px 20px;
  }
  @include mx.mq("lg") {
    @include mx.card(60px, row);
    min-width: 540px;
    max-width: 1000px;

    padding: 40px;
  }
}
.bgRight {
  background-image: url("/daisy-v-r.webp");
  aspect-ratio: 1 / 1.3;
  @include mx.mq("lg") {
    aspect-ratio: 1 / 0.5;
    background-image: url("/daisy-h-r.webp");
  }
}

.docCardLeft {
  @include mx.card(10px, column);
  min-width: 300px;
  max-width: 420px;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  margin: 0 10px;
  padding: 10px 10px 28px 10px;
  @include mx.mq("md") {
    min-width: 420px;
    max-width: 540px;

    padding: 20px 20px 40px 20px;
  }
  @include mx.mq("lg") {
    @include mx.card(60px, row-reverse);

    min-width: 540px;
    max-width: 1000px;

    padding: 40px;
  }
}
.bgLeft {
  background-image: url("/daisy-v-l.webp");
  aspect-ratio: 1 / 1.3;
  @include mx.mq("lg") {
    aspect-ratio: 1 / 0.5;
    background-image: url("/daisy-h-l.webp");
  }
}

.wrapImgDoc {
  @include mx.img-box(100%);
  min-width: 280px;
  max-width: 400px;
  height: auto;
  @include mx.mq("md") {
    min-width: 400px;
    max-width: 500px;
  }
  @include mx.mq("lg") {
    width: 380px;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
  }
}

.wrapInfo {
  @include mx.column-fs-cr(20px);
  width: 100%;
  height: auto;

  @include mx.mq("lg") {
    gap: 60px;
  }
}

.infoDoc {
  @include mx.column-fs-fs(4px);
  width: 100%;
  height: auto;
  h3 {
    @include mx.row-fs-cr(0);
    @extend %card-h3;
    font-size: 20px;
  }
  p {
    @extend %card-p;
    font-size: 14px;
  }
  @include mx.mq("md") {
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
  }
  @include mx.mq("lg") {
    width: 100%;
    h3 {
      font-size: 28px;
      line-height: 1.5;
    }
    p {
      font-size: 22px;
      line-height: 1.5;
    }
  }
  @include mx.mq("xl") {
    h3 {
      font-size: 36px;
    }
    p {
      font-size: 24px;
    }
  }
}
.wrapBtn {
  @include mx.row-cr-cr(0);
  width: 100%;
}

.btnDoc {
  @include mx.row-cr-cr(0);
  min-width: 260px;
  max-width: 420px;
  width: 100%;
  @extend %hero-p;
  font-size: 20px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 12px;
  background-color: v.$brend;
  text-decoration: none;
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: v.$title;
    transform: scale(1.02);
  }
}
