@use "@/scss/variables" as v;
@use "@/scss/mixins" as mx;
@use "@/scss/placeholders";

.wrapList {
  @include mx.column-fs-cr(160px);
  padding: 0;
  margin: 0;
}

.wrapCard {
  position: relative;
  @include mx.bg-card(auto);
  padding: 20px 0;
  @include mx.mq("md") {
    padding: 40px 0;
  }
}

.bgImgRight {
  @include mx.bg-img-card(300px, 420px);

  background-image: url("/daisy-v-r.webp");
  aspect-ratio: 1 / 1.3;
  padding: 10px 10px 28px 10px;

  @include mx.mq("md") {
    @include mx.bg-img-card(420px, 540px);
    padding: 20px 20px 40px 20px;
  }

  @include mx.mq("lg") {
    @include mx.bg-img-card(540px, 1000px);
    background-image: url("/daisy-h-r.webp");

    aspect-ratio: 1 / 0.5;
    padding: 40px;
  }
}

.bgImgLeft {
  @include mx.bg-img-card(300px, 420px);

  background-image: url("/daisy-v-l.webp");
  aspect-ratio: 1 / 1.3;
  padding: 10px 10px 28px 10px;

  @include mx.mq("md") {
    @include mx.bg-img-card(420px, 540px);
    padding: 20px 20px 40px 20px;
  }

  @include mx.mq("lg") {
    @include mx.bg-img-card(540px, 1000px);
    background-image: url("/daisy-h-l.webp");
    aspect-ratio: 1 / 0.5;
    padding: 40px;
  }
}

.sideRight {
  @include mx.card(10px, column);
  @include mx.mq("lg") {
    @include mx.card(60px, row);
  }
}

.sideLeft {
  @include mx.card(10px, column);
  @include mx.mq("lg") {
    @include mx.card(60px, row-reverse);
  }
}

.wrapImgDoc {
  @include mx.photo-doc(100%);
  min-width: 280px;
  max-width: 400px;
  height: auto;
  @include mx.mq("md") {
    min-width: 400px;
    max-width: 500px;
  }
  @include mx.mq("lg") {
    width: 380px;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
  }
}

.wrapInfoDoc {
  @include mx.column-fs-cr(20px);
  width: 100%;
  height: 100%;

  @include mx.mq("lg") {
    gap: 80px;
  }
}

.infoDoc {
  @include mx.column-fs-fs(4px);
  width: 100%;
  height: auto;
  h3 {
    @include mx.row-fs-cr(0);
    width: 90%;
    @extend %card-h3;
    font-size: 20px;
  }
  p {
    @extend %card-p;
    font-size: 14px;
  }
  @include mx.mq("md") {
    h3 {
      width: 100%;
      font-size: 24px;
    }
    p {
      font-size: 18px;
    }
  }
  @include mx.mq("lg") {
    width: 100%;
    h3 {
      width: 90%;
      font-size: 28px;
      line-height: 1.5;
    }
    p {
      font-size: 22px;
      line-height: 1.5;
    }
  }
  @include mx.mq("xl") {
    h3 {
      font-size: 36px;
    }
    p {
      font-size: 24px;
    }
  }
}
.wrapBtn {
  @include mx.row-cr-cr(0);
  width: 100%;
  height: auto;
  .btnDoc {
    @include mx.row-cr-cr(0);
    min-width: 260px;
    max-width: 420px;
    width: 100%;
    @extend %hero-p;
    font-size: 20px;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 12px;
    background-color: v.$brend;
    text-decoration: none;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: v.$title;
      transform: scale(1.02);
    }
  }
}
