@use "@/scss/variables" as v;
@use "@/scss/mixins" as mx;
@use "@/scss/placeholders";

.container {
  position: fixed;
  z-index: 1;
  @include mx.column-fs-cr(0);
  min-width: 320px;
  max-width: 2000px;
  width: 100%;
  height: 100vh;
  .mobile {
    @include mx.img-main(block);
  }
  .deck {
    @include mx.img-main(none);
  }
  @include mx.mq("md") {
    .mobile {
      @include mx.img-main(none);
    }
    .desk {
      @include mx.img-main(block);
    }
  }
}
