@use "../scss/variables" as v;
@use "../scss/mixins" as mx;
@use "../scss/placeholders";

.wrapper {
  @include mx.body();
  width: 100%;

  background-color: v.$light-text;
}

.box {
  position: fixed;
  z-index: 2;
  @include mx.column-fs-cr(160px);
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.center {
  position: fixed;
  z-index: 2;
  @include mx.row-cr-cr(0);
  width: 100%;
  height: 100vh;
  margin: 40px 0;
  overflow-y: scroll;
  overflow-x: hidden;
  @include mx.mq("lg") {
    overflow-y: hidden;
  }
}
