@use "../scss/variables" as v;
@use "../scss/mixins" as mx;
@use "../scss/placeholders";

.wrapper {
  @include mx.body();
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: v.$light-text;
  background-image: url("/main-mobile.webp");
  // background-image: url("/main-deck.webp");
  @include mx.mq("md") {
    background-image: url("/main-deck.webp");
    // aspect-ratio: 1 / 0.67;
  }
}

.container {
  position: absolute;
  z-index: 1;
  @include mx.column-fs-cr(0);
  min-width: 320px;
  max-width: 1600px;
  width: 100%;
  // gap: 160px;
  // height: 100vh;
  // background-image: url("/main-mobile.webp");
  // aspect-ratio: 1 / 1.5;
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // @include mx.mq("md") {
  //   background-image: url("/main-deck.webp");
  //   // aspect-ratio: 1 / 0.67;
  // }
}

.box {
  position: absolute;
  z-index: 2;
  @include mx.column-fs-cr(160px);
  width: 100%;
  height: auto;
  // overflow-y: scroll;
  // background-color: rgba(#ffffff, 0);
}
