@use "@/scss/variables" as v;
@use "@/scss/mixins" as mx;
@use "@/scss/placeholders";

.wrapAgree {
  top: 0;
  left: 0;
  position: absolute;
  @include mx.column-fs-cr(16px);
  width: 100vw;
  min-height: 100vh;
  background-color: v.$gray;
  padding: 90px 0px 20px 0px;
}

.agreement {
  @include mx.column-fs-cr(12px);
  min-width: 300px;
  max-width: 1000px;
  width: 100%;
  height: 80vh;
  background-color: v.$light-text;
  padding: 20px 8px;
  @include mx.mq("lg") {
    padding: 20px 0 20px 20px;
  }
  h2 {
    @extend %card-h3;
    font-size: 22px;
    color: v.$dark-text;
    text-align: center;
    @include mx.mq("lg") {
      font-size: 24px;
    }
  }
}

.list {
  @include mx.column-fs-cr(8px);
  list-style: none;
  padding: 0;
  overflow-y: scroll;
  .point {
    @extend %card-h3;
    font-size: 18px;
    color: v.$dark-text;
    text-align: center;
    @include mx.mq("lg") {
      font-size: 20px;
    }
  }
  .text {
    @include mx.row-fs-cr(0);
    width: 100%;
    @extend %hero-p;
    font-size: 16px;
    color: v.$dark-text;
  }
}

.linkPay {
  @include mx.row-cr-cr(0);
  width: 100%;
  @extend %header-text;
  color: v.$light-text;
  font-size: 16px;
}
