@use "@/scss/variables" as v;
@use "@/scss/mixins" as mx;
@use "@/scss/placeholders";

.bottom {
  @include mx.row-cr-cr(0);
  width: 100%;
  height: auto;
  background-color: v.$gray;
}
.bottomCase {
  @include mx.column-fs-fs(10px);
  p,
  a {
    @extend %hero-p;
    font-size: 16px;
    text-decoration: none;
  }
}
