@use "@/scss/variables" as v;
@use "@/scss/mixins" as mx;
@use "@/scss/placeholders";

.wrapPatient {
  @include mx.row-fs-cr(8px);
  width: auto;
  height: 40px;
  .patientIcon {
    @include mx.row-cr-cr(0);
    position: relative;
    width: 40px;
    height: 40px;

    img {
      display: block;
      width: 40px;
      height: 40px;
      object-fit: cover;
      filter: none;
    }
  }

  a {
    @include mx.row-fs-cr(0);
    width: auto;
    height: 40px;
    @extend %hero-h4;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:focus {
      color: #ffb627;
    }
  }
  @include mx.mq("md") {
    a {
      font-size: 18px;
    }
  }
  @include mx.mq("lg") {
    a {
      font-size: 20px;
    }
  }
}
