@use "@/scss/variables" as v;
@use "@/scss/mixins" as mx;
@use "@/scss/placeholders";

.wrapScreen {
  @include mx.bg-card(auto);
  padding: 20px 0;
  @include mx.mq("md") {
    padding: 40px 0;
  }
}

.bgScreen {
  position: relative;
  @include mx.column-fs-cr(5px);
  min-width: 300px;
  max-width: 1100px;
  width: 100%;
  height: auto;
  background-color: v.$light-text;
  padding: 5px;
  @include mx.mq("md") {
    padding: 5px 10px;
  }

  @include mx.mq("lg") {
    @include mx.row-cr-cr(5px);
    height: 100%;
    padding: 5px;
  }
}

.photoScreen {
  position: relative;
  @include mx.row-cr-cr(0);
  min-width: 300px;
  max-width: 545px;
  width: 100%;
  height: auto;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.posterScreen {
  position: relative;
  @include mx.column-fs-cr(20px);
  min-width: 300px;
  max-width: 545px;
  width: 100%;
  height: 100%;
  background-color: v.$bg-check;
  padding: 20px 0px;
  img {
    display: block;
    width: 90%;
    height: auto;
    object-fit: cover;
  }
  @include mx.mq("lg") {
    gap: 40px;
    width: calc(100% - 540px);
  }
}

.btnScreen {
  @include mx.column-fs-cr(24px);
  width: 60%;
  bottom: 40px;
  a {
    @include mx.row-cr-cr(0);
    min-width: 260px;
    max-width: 520px;
    width: 100%;
    @extend %card-h3;
    color: v.$dark-text;
    font-size: 20px;
    width: 100%;
    height: 54px;
    border: none;
    border-radius: 28px;
    background-color: v.$btn-check;
    text-decoration: none;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: v.$hover-check;
      transform: scale(1.02);
    }
  }
}
