@use "sass:map";
@use "sass:list";
@use "variables" as v;
@use "placeholders";

@mixin mq($bp: sm, $type: min, $is-retina: false) {
  @if map.has-key(v.$breacpoints, $bp) {
    $width: map.get(v.$breacpoints, $bp);

    @if $type == max {
      $width: $width - 0.02px;
    }

    @media only screen and (#{$type}-width: $width) {
      @if $is-retina {
        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          @content;
        }
      } @else {
        @content;
      }
    }
  } @else {
    @error "";
  }
}

@mixin body() {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 320px;
  height: 100vh;
  box-sizing: border-box;
  font-family: var(--font-nunito);
  padding: 0;
  margin: 0;
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
  }
}

@mixin column-fs-fs($gap) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  gap: $gap;
}

@mixin column-fs-cr($gap) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  gap: $gap;
  margin: 0;
}

@mixin row-fs-cr($gap) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  gap: $gap;
}

@mixin row-cr-cr($gap) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: $gap;
}

@mixin img-main($property) {
  position: relative;
  display: $property;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

@mixin bg-card($height) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 2000px;
  width: 100vw;
  height: $height;
  backdrop-filter: blur(8px);
  background-color: rgba(186, 186, 186, 0.8);
}

@mixin bg-img-card($min, $max) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $min;
  max-width: $max;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  margin: 0 10px;
}

@mixin photo-doc($width) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
}

@mixin card($gap, $value) {
  display: flex;
  flex-direction: $value;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-width: 300px;
  max-width: 1000px;
  width: 100%;
  height: auto;
  gap: $gap;
  margin: 0;
}
