// $white: #ffffff;
// $card: #fafafb;
$brend: rgb(112, 204, 17);
$hero-text: rgb(245, 245, 242);
// $accent: #fcd04a;
$link: #68b7f3;
$text: #292932;
$gray: #b5b5be;
$bg-page: #92929d;
$danger: #ef5350;
$current: currentColor;

$main-font: "Nunito";

$breacpoints: (
  "sm": 320px,
  "md": 640px,
  "lg": 960px,
  "xl": 1280px,
  "xxl": 1600px,
);
