@use "@/scss/variables" as v;
@use "@/scss/mixins" as mx;
@use "@/scss/placeholders";

.wrapPay {
  top: 0;
  left: 0;
  position: absolute;
  @include mx.column-fs-cr(16px);
  width: 100vw;
  min-height: 100vh;
  background-color: v.$hover-check;
  padding: 90px 20px 20px 20px;
  h2 {
    @extend %card-h3;
    font-size: 24px;
    color: v.$bg-check;
    @include mx.mq("lg") {
      font-size: 36px;
    }
  }
}

.logoScreen {
  position: relative;
  @include mx.row-cr-cr(0);
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  height: auto;
  padding: 0 20px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.paySum {
  @include mx.row-cr-cr(20px);
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  height: auto;
  p {
    @extend %header-text;
    font-size: 22px;
    color: v.$bg-check;
    @include mx.mq("lg") {
      font-size: 32px;
    }
  }
}

.logoLiqPay {
  position: relative;
  @include mx.row-cr-cr(0);
  min-width: 80px;
  max-width: 100px;
  width: 100%;
  height: auto;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.wrapQR {
  @include mx.row-cr-cr(0);
  min-width: 120px;
  max-width: 240px;
  width: 100%;
  aspect-ratio: 1 / 1;
  border: 2px solid v.$bg-check;
  border-radius: 12px;
}

.wrapLink {
  @include mx.column-fs-cr(12px);
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  height: auto;
  a {
    @extend %hero-h2;
    color: v.$dark-text;
  }
}
